@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <img src="e-store.jpg" align="middle"/>
    <h1>Registro de Productos</h1>
    <p class="lead">Esta es una aplicación interna que nos servirá para llevar un registro de los productos generados, desde su concepción hasta su venta en la plataforma de shopify.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>